.container-custom {
      
  display: flex;
  height: 100vh;
  padding: 0;
}
.left-pane {
  transition: all 0.7s ease;
  height: 100%;
  width: 100;
  background-color: #0d6efd;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.right-pane {
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}
.form-container {
  width: 100%;
  max-width: 400px;
}
.form-container h3 {
  text-align: center;
  margin-bottom: 20px;
}
.right-pane img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.left-pane img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {


.left-pane {
  display: none
}
.right-pane {
  
  flex: 0 0 100%;
  max-width: 100%;
}
}
.form-check-input{
background-color: grey;
}

.getstart{
margin-top: 35px;
margin-bottom: 20px;
}
